@mixin ice-form($size: $ice-font-size,
                $color: $ice-font-color,
                $border: $ice-border-color,
                $shadow: adjust-color($border, $lightness: 10%)) {

    $padding: $size / 2;

    $box-border: 1px solid $border;

    $box-shadow-size: $size / 2;
    $box-shadow-color: $shadow;
    $box-shadow-focus: 0 0 $box-shadow-size 1px $box-shadow-color;
    $box-shadow: inset  1px 1px $box-shadow-size 1px $box-shadow-color;

    $placeholderColor: adjust-color($color, $lightness: 45%);
    $placeholderFocusColor: adjust-color($color, $lightness: 60%);

    $width: $ice-text-width * 0.6;

    @if $size != $ice-font-size {
        font-size: $size;
    }

    #{$all-text-inputs}, textarea, select {
        @extend %ice-box;

        // font: inherit;
        box-shadow: $box-shadow;
        color: $color;
        padding: $padding $padding * 2;
        border: $box-border;
        width: $width;
        max-width: 100%;
    }

     #{$all-text-inputs}, textarea {
        &:focus {
            @include placeholder() {
                color: $placeholderFocusColor;
            }

            outline: none;
            box-shadow: $box-shadow-focus;
        }

        &:disabled {
            opacity: 0.7;
        }

        @include placeholder() {
            color: $placeholderColor;
        }
    }

    textarea {
        min-height: 10em;
    }
}

%ice-form {
    @include ice-form;
}
