%ice-nav {
    @extend %clearfix;

    max-width: 100%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

@mixin ice-nav-item($link: $ice-nav-item-link,
                    $active: $ice-nav-item-active,
                    $disabled: $ice-nav-item-disabled) {
    position: relative;

    #{$link} {
        @extend %ice-nav-item-link;
    }

    &#{$active} {
        @extend %ice-nav-item-active;
    }

    &#{$disabled} {
        @extend %ice-nav-item-disabled;
    }
}

%ice-nav-item {

    @include ice-nav-item;
}

%ice-nav-item-active {
    font-weight: bold;
    text-decoration: none;
}

%ice-nav-item-disabled {
    opacity: 0.6;
}

%ice-nav-item-link {
    display: inline-block;

    &:hover {
        text-decoration: none;
    }
}
