%ice-text {
    line-height: $ice-line-height;
    max-width: $ice-text-width;
}

%ice-font-hero {
    font-size: $ice-font-hero-size + em;
    line-height: 1;
}

%ice-font-heading {
    font-size: $ice-font-heading-size + em;
    line-height: 1.2;
}

%ice-font-title {
    font-size: $ice-font-title-size + em;
    font-weight: 300;
    line-height: 1.3;
}

%ice-font-large {

    font-size: $ice-font-large-size + em;
}

%ice-font-small {

    font-size: $ice-font-small-size + em;
}

%ice-text-address {

    font-style: normal;
}

%ice-list-dl {
    dt {
        font-weight: bold;
        margin-top: $ice-block-gutter / 2;

        &:first-child {
            margin-top: 0;
        }
    }

    dd {
        margin-left: $ice-block-gutter * 2;
    }
}

%ice-list {
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;

    ul, ol {
        padding-left: $ice-block-gutter;
    }
}

%ice-table {
    width: 100%;
    max-width: 100%;

    th {
        text-align: left;
    }

    th, td {
        padding: $ice-block-gutter / 2.5;
    }
}
