@import "../../ice/ice";

footer,
header {
    nav {
        ol {
            @extend %ice-nav;
        }
        li {
            @extend %ice-nav-horizontal-item;

            @include ice-respond($ice-respond-mobile) {
                @include ice-nav-item($direction: "vertical",
                                      $padding: $ice-block-gutter / 2 0);
            }

            &.active {
                @include ice-nav-item-active() {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}

section {
    @include ice-respond($ice-respond-tablet-desktop) {
        float: left;
        width: 70%;
    }

}

aside {
    @include ice-respond($ice-respond-tablet-desktop) {
        float: right;
        width: 30%;
    }

    nav {

        ol {
            @extend %ice-nav;

            > li {
                @include ice-nav-item($direction: vertical,
                                      $active: ".active",
                                      $padding: $ice-block-gutter / 2 0);

                li > a {
                    padding-left: $ice-block-gutter * 2;
                }
            }
        }
    }

    form {
        @include ice-form($size: 14px, $border: green, $color: blue);
    }
}

form {
    @include ice-respond($ice-respond-mobile) {
        color: green;
    }
    @include ice-respond($ice-respond-tablet) {
        color: blue;
    }
    @include ice-respond($ice-respond-desktop) {
        color: red;
    }
}

footer {

    @extend %ice-block-clear;
}

.ice-inner {

    @extend %ice-block-inner;
}

.ice-form {

    @extend %ice-form;
}

.ice-form-large {

    @include ice-form($size: 26px, $border: red, $color: green, $shadow: blue);
}

.ice-container {

    @extend %ice-block-container;
}
