@mixin ice-pull($direction, $margin: $ice-block-gutter) {
    float: $direction;
    margin-bottom: $margin;

    @if $direction == 'left' {
        margin-right: $margin;
    }
    @else if $direction == 'right' {
        margin-left: $margin;
    }
}

%ice-box {
    @include box-sizing(border-box);
}

%ice-block {
    margin-top: 0;
    margin-bottom: $ice-block-gutter;
}

%ice-block-container {
    @extend %clearfix;
    @extend %ice-box;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: $ice-block-width;
}

%ice-block-inner {
    @extend %ice-box;

    position: relative;
    max-width: 100%;
    padding: $ice-block-gutter;
}

%ice-block-pull-right {
    @include ice-pull(right);
}

%ice-block-pull-left {
    @include ice-pull(left);
}

%ice-block-clear {
    float: none;
    clear: both;
    display: block;

    @extend %clearfix;
}

%ice-block-center {
    @extend %ice-block-clear;

    text-align: center;
}

%ice-hr {
    border: none;
    margin-top: $ice-block-gutter;
    margin-bottom: $ice-block-gutter;
    border-top: 2px solid;
}

%ice-image {
    max-width: 100%;
    height: auto;
    width: auto;
}
