@import "../../ice/ice";
@import "../../ice/normalice";

hr, h2, h3, h4 {
    clear: both;
    margin-bottom: 0;
}

.ice-btn {
    @extend %ice-button;
}

.ice-wrapper {
    @extend %ice-block-container;

    > h2 {
        background-color: #f1f1f1;
        max-width: 100%;
    }
}

.ice-example {
    @extend %ice-block;

    float: right;
    width: 70%;
    // background-color: #f1f1f1;
}

.ice-hero {
    @extend %ice-font-hero;
}

.ice-heading {
    @extend %ice-font-heading;
}

.ice-title {
    @extend %ice-font-title;
}

.ice-large {
    @extend %ice-font-large;
}

.ice-small {
    @extend %ice-font-small;
}

.ice-nav-vertical-item {
    @extend %ice-nav-vertical-item;
    // @include ice-nav-item(vertical);
}

.ice-nav-horizontal-item {
    @extend %ice-nav-horizontal-item;
    // @include ice-nav-item(horizontal,
    //                       $link: "> a") {
        padding: $ice-block-gutter / 2 $ice-block-gutter;
    // }
}
