%block {
    margin-top: 0;
    margin-bottom: $ice-block-gutter;
}

%container {
    @extend %clearfix;
    @include box-sizing(border-box);

    position: relative;
    max-width: $ice-block-width;
    margin-left: auto;
    margin-right: auto;
}

%inner {
    padding: $ice-block-gutter;
    position: relative;
}

@mixin pull-right() {
    float: right;
    margin-right: $ice-block-gutter;
    margin-bottom: $ice-block-gutter;
}

%pull-right {
    @include pull-right;
}

%pull-left {
    float: left;
    margin-right: $ice-block-gutter;
    margin-bottom: $ice-block-gutter;
}

%clear {
    float: none;
    clear: both;
    display: block;

    @extend %clearfix;
}

%center {
    @extend %clear;

    text-align: center;
}
