@mixin ice-form($size: $ice-font-size,
                $color: $ice-font-color,
                $border: $ice-border-color,
                $shadow: adjust-color($border, $lightness: 10%)) {

    $padding: $size / 2;

    $box-border: 1px solid $border;

    $box-shadow-size: $size / 2;
    $box-shadow-color: $shadow;
    $box-shadow-focus: 0 0 $padding $box-shadow-color, inset 0 0 0 0 $box-shadow-color;
    $box-shadow: inset  1px 1px $box-shadow-size 1px $box-shadow-color;

    $placeholderColor: adjust-color($color, $lightness: 45%);
    $placeholderFocusColor: adjust-color($color, $lightness: 60%);

    $width: $ice-text-width / 2.5;

    #{$all-text-inputs}, textarea, select {
        font-size: $size;
        box-shadow: $box-shadow;
        color: $color;
        padding: $padding;
        border: $box-border;
        width: $width;
        max-width: 100%;

        &:focus {
            outline: none;

            &::-webkit-input-placeholder {
                color: $placeholderFocusColor;
            }
            &:-moz-placeholder {
                color: $placeholderFocusColor;
            }
            &::-moz-placeholder {
                color: $placeholderFocusColor;
            }
            &:-ms-input-placeholder {
                color: $placeholderFocusColor;
            }
            box-shadow: $box-shadow-focus;
        }

        &:disabled {
            opacity: 0.7;
        }

        &::-webkit-input-placeholder {
            color: $placeholderColor;
        }
        &:-moz-placeholder {
            color: $placeholderColor;
        }
        &::-moz-placeholder {
            color: $placeholderColor;
        }
        &:-ms-input-placeholder {
            color: $placeholderColor;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        &:checked + label {
            font-weight: bold;
        }

        + label {
            cursor: pointer;
            margin-right: $ice-block-gutter;
            margin-left: -1.2em;
            padding-left: 1.3em;
            display: inline-block;
        }
    }

    textarea {

        line-height: $ice-line-height;
    }

    select {
        @include background(linear-gradient(#fff,
            scale-color($border, $lightness: 60%)));

        box-shadow: none;
        border-radius: 0;
        cursor: pointer;

        &:focus {
            @include background(linear-gradient(scale-color($border,
                $lightness: 60%), #fff));
        }
    }
}

%ice-form {
    @include ice-form();
}
