%ice-text {
    line-height: $ice-line-height;
    max-width: $ice-text-width;
}

%ice-font-hero {
    // @include rem-fallback("font-size", $ice-font-hero-size);
    // font-size: $ice-font-hero-size * 100%;
    font-size: $ice-font-hero-size + em;
}

%ice-font-heading {
    // @include rem-fallback("font-size", $ice-font-heading-size);
    font-size: $ice-font-heading-size + em;
}

%ice-font-title {
    // @include rem-fallback("font-size", $ice-font-title-size);
    // font-size: $ice-font-title-size * 100%;
    font-size: $ice-font-title-size + em;
}

%ice-font-large {
    // @include rem-fallback("font-size", $ice-font-large-size);
    // font-size: $ice-font-large-size * 100%;
    font-size: $ice-font-large-size + em;
}

%ice-font-small {
    // @include rem-fallback("font-size", $ice-font-small-size);
    // font-size: $ice-font-small-size * 100%;
    font-size: $ice-font-small-size + em;
}
