%text {
    line-height: $lineHeight;
    max-width: $maxTextWidth;
}

%font-small {
    font-size: 90%
}

%font-smaller {
     font-size: 80%;
}

%font-smallest {
    font-size: 75%;
}

%font-large {
    font-size: 110%;
}

%font-larger {
    font-size: 120%;
}

%font-largest {
    font-size: 130%;
}
